##### https://github.com/istresearch/jenkins/blob/master/docker-compose.yml

version: '3.5'

services:
  # Le nom peut-être choisi comme on le souhaite 
  jenkins:
    image: jenkins/jenkins:latest-jdk11
    # Ce nom est donné lorque l'on exécute la commande docker ps
    container_name: Contenair_jenkins
    # Fonctionnalité propre à Docker => docker essaye de redémarrer si le container à un problème sauf si l'admin a demandé de l'arrêter
    restart: unless-stopped
    #user: jenkins
    volumes:
      - ./var/jenkins:/var/jenkins_home
      #- /var/run/docker.sock:/var/run/docker.sock
    #environment:
    #  JENKINS_HOST_HOME: "/data/jenkins"
    ports:
      - "8081:8080"
      #- "5000:5000"
      - "50000:50000"



    